<div class="container mt-5">
  <h1 class="text-center"><%= @user.name %></h1>
  <div class="mt-4">
    <p><strong>Email:</strong> <%= @user.email %></p>
  </div>

  <h2 class="mt-4">Transactions</h2>
  <ul class="list-group mt-3">
    <% @user.transactions.each do |transaction| %>
      <li class="list-group-item">
        <%= transaction.crypto_type.capitalize %> - <%= transaction.amount %> -
        <%= link_to transaction.cryptocurrency.name, cryptocurrency_path(transaction.cryptocurrency) %>
      </li>
    <% end %>
  </ul>
</div>
