<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>

<h2>Transactions</h2>
<ul>
  <% @user.transactions.each do |transaction| %>
    <li>
      <%= transaction.type.capitalize %> -
      <%= transaction.amount %> -
      <%= link_to transaction.cryptocurrency.name, cryptocurrency_path(transaction.cryptocurrency) %>
    </li>
  <% end %>
</ul>
