
<%= form_with(url: cryptocurrencies_path, method: :get, local: true) do |form| %>
  <%= form.label :search, "Search Cryptocurrencies" %>
  <%= form.text_field :search, value: params[:search] %>

  <!-- Dropdrown for hierarchical criteria -->
  <%= form.label :filter, "Filter by Transaction Type" %>
  <%= form.select :filter, ['All', 'Buy', 'Sell'], selected: params[:filter] %>

  <%= form.submit "Search" %>
<% end %>

<h1>Cryptocurrencies</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Market Cap</th>
    </tr>
  </thead>
  <tbody>
    <% @cryptocurrencies.each do |crypto| %>
      <tr>
        <td><%= link_to crypto.name, cryptocurrency_path(crypto) %></td>
        <td><%= crypto.price %></td>
        <td><%= crypto.market_cap %></td>
      </tr>
    <% end %>
  </tbody>
</table>
