<div class="container mt-5">
  <%= form_with(url: cryptocurrencies_path, method: :get, local: true, class: "mb-4") do |form| %>
    <div class="row gy-2 gx-3 align-items-center">
      <div class="col-auto">
        <%= form.label :search, "Search Cryptocurrencies", class: "col-form-label" %>
        <%= form.text_field :search, value: params[:search], class: "form-control", placeholder: "Enter name..." %>
      </div>

      <div class="col-auto">
        <%= form.label :filter, "Transaction Type", class: "col-form-label" %>
        <%= form.select :filter, ['All', 'Buy', 'Sell'], selected: params[:filter], class: "form-select" %>
      </div>

      <div class="col-auto">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <h1 class="mt-4">Cryptocurrencies</h1>
  <div class="table-responsive">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Market Cap</th>
        </tr>
      </thead>
      <tbody>
        <% @cryptocurrencies.each do |crypto| %>
          <tr>
            <td><%= link_to crypto.name, cryptocurrency_path(crypto) %></td>
            <td><%= crypto.price %></td>
            <td><%= crypto.market_cap %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @cryptocurrencies %>
</div>

