<h1><%= @cryptocurrency.name %></h1>
<p>Price: <%= @cryptocurrency.price %></p>
<p>Market Cap: <%= @cryptocurrency.market_cap %></p>

<h2>Transactions</h2>
<% @cryptocurrency.transactions.each do |transaction| %>
  <p><%= transaction.type.capitalize %>: <%= transaction.amount %></p>
<% end %>
